.ContactForm {
  padding: 0 4em;
}

.ContactForm h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.ContactForm .LabelText {
  text-align: start !important;
}

@media (max-width: 875px) {
  .ContactForm h2 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  .ContactForm {
    padding: 0 1em;
  }
}
