.Tarot-Summary {
  background-color: #84BF5E;
  color: black;
  background-color: #90D0DA;
  padding: 2.5em;
  font-weight: 100;
  line-height: 1.5;
  box-shadow: 3px 3px 5px -3px rgba(0,0,0,0.5);
}

.Tarot h2 {
  color: #216472;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(41, 16, 17, 0.2)
}

.Tarot h3 {
  color: white;
}

@media (max-width: 750px) {
  .Tarot h2 {
    font-size: 1.5rem;
  }
}
