
.Tarot ul, ol {
  padding: 1em 2em;
  margin: 0 3.5em;
  margin-bottom: 2em;
  text-align: left;
  color: #CD5659;
  background-color: #F2BFC8;
  border-radius: 1em;
  box-shadow: 3px 3px 5px -3px rgba(0,0,0,0.5);
}

.Tarot img {
  max-width:300px;
}

ul, ol > li {
  box-shadow: none;
  padding: none;
  margin: none;
}

li > a:hover {
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  color: #E8BE43;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  ul, ol {
    margin: 0;
    margin-bottom: 1em;
  }
  ul > ul {
    box-shadow: none;
  }
}

.Tarot h2 {
  color: #F0C33B;
  text-transform: uppercase;
}


@media screen and (max-width: 479px) {

  p, section {
    color: #f498b8;
    background-color: white;
    margin: .25em;
    font-weight: 100;
    line-height: 1.25;
    border-radius: 0px;
    padding: 0;
  }

  section h3 {
    color: #CC565A;
    text-transform: uppercase;
    background-color: #E8BE43;
    border-radius: 5px;
    margin: .25em 0px .5em 0px;
    padding: 0px;
  }

}