.Tarot .tarotImage {
  width: 100%;
  border-top-left-radius: 46%;
  border-top-right-radius: 46%;
  margin: 1em;
  box-shadow: 3px 3px 5px -3px rgba(0,0,0,0.5);
}

.Tarot-Summary {
  background-color: #f2bfc8;
  color: black;
  background-color: white;
  padding: 1em;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1.25;
  box-shadow: 3px 3px 5px -3px rgba(0,0,0,0.5);

}

.EthicsSlideshow {
  display: flex;
  flex-direction: column;
  margin: 2em 3em;
  font-size: 1.5em;
}

.Tarot h2 {
  color: #F0C33B;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(41, 16, 17, 0.2)
}

@media screen and (max-width: 560px) {
  .Tarot h2 {
    color: #F0C33B;
    font-size: 2.5rem;
  }
  .Tarot {
    padding: 0;
    margin: 0;
    padding-bottom: 2em;
  }
  .Tarot-Images {
    display: none;
  }
  .EthicsSlideshow {
    font-size: 1em;
    margin: 2.5em 1.25em;
    font-size: 1rem;
  }
}