.tarot-ethics-item {
  height: 20rem;
  width: auto;
  margin: .5em;
  padding: 2em 1em;
  background-color: #90D0DA;

}

.react-multiple-carousel__arrow--left {
  left: 1px;
}

.react-multiple-carousel__arrow--right {
  right: 1px;
}