.About {
  padding-right: 10em;
}

.About .bioPic {
  position: static;
  width: 620px;
  height: 600px;
  object-fit: cover;
  object-position: 100% 15;
}
a, i {
  color: #84BF5E;
}
.About h2 {
  color: #DC5C62;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.About .blurb {
  position: relative;
  left: 15%;
  top: 15%;
  width: 500px;
  color: black;
  background-color: white;
  padding: 2.5em;
  font-weight: 100;
  line-height: 1.25;
  box-shadow: 3px 3px 5px -3px rgba(0,0,0,0.5);
}

@media (max-width: 1200px) {
  .About {
    padding-right: 5em;
  }
  .About h2 {
    font-size: 1.5em;
  }
  .About .blurb {
    position: static;
  }
}

@media (max-width: 479px) {
  .About {
    padding-right: .25em;
  }

  .About .bioPic {
    position:static;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .About h2 {
    font-size: 2em;
  }
  .About .blurb {
    width: 100%;
    position: static;
    text-align:justify;
    padding: 1em;
    line-height: 1.5;
    box-shadow: none;
  }
}
@media (max-width: 300px) {
  .About {
    padding: 1em 0;
    padding-right: .25em;
  }
  .About .bioPic {
    position:static;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .About h2 {
    font-size: 2em;
  }
  .About .blurb {
    width: 100%;
    position: static;
    text-align:justify;
    padding: .5em;
    line-height: 1.5;
    box-shadow: none;
  }
}