.About .bioPic {
  position: static;
  width: 600px;
  height: 500px;
  object-fit: cover;
  object-position: 80% 5;
}

.About h2 {
  color: #DC5C62;
  font-size: 3em;
  text-transform: uppercase;
}

.About .blurb {
  position: relative;
  left: 120px;
  max-width: 600px;
  color: black;
  background-color: white;
  padding: 1em;
  font-weight: 100;
  line-height: 1.25;
  box-shadow: 3px 3px 5px -3px rgba(0,0,0,0.5);
}

@media (max-width: 479px) {
  .About .bioPic {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    object-position: 70%;
  }
  .About h2 {
    font-size: 2em;
  }
  .About .blurb {
    left: 0;
    position: static;
  }
}