.Booking .Tarot-Summary {
  background-color: transparent;
  box-shadow: none;
  text-align: left;
}

.Booking .BookingImage {
  max-height: 600px;
}

.Booking h2 {
  font-size: 3em;
  color: #216472;
}

.Booking p {
  font-size: 1.125em;
  line-height: 1.5;
  margin: 0;
  padding: 1em;
}