@font-face {
  font-family: 'PaloSanto';
  src: local('PaloSanto'),
      url('./fonts/palosanto-webfont.woff2'') format('woff2'),
      url('./fonts/palosanto-webfont.woff') format('woff'),
      url('./fonts/PaloSanto.otf') format('opentype'),
      url('./fonts/PaloSanto.ttf') format('truetype'),
      url('./fonts/PaloSanto.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Displace';
  src: local('Displace'),
       url('./fonts/serebryakov_-_displace-webfont.woff2') format('woff2'),
       url('./fonts/serebryakov_-_displace-webfont.woff') format('woff'),
       url('./fonts/Serebryakov-Displace.otf') format('opentype'),
       url('./fonts/Serebryakov_-_Displace.ttf') format('truetype'),
       url('./fonts/Serebryakov-Displace.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}