@font-face {
  font-family: 'Displace';
  src: local("Displace"), local("Serebryakov-Displace"),
      url("https://cdn.jsdelivr.net/gh/bexter89/Moth-Mysticals@main/assets/fonts/Displace.otf") format("opentype"),
      url('https://cdn.jsdelivr.net/gh/bexter89/Moth-Mysticals@main/assets/fonts/Displace.ttf') format('truetype'),
      url('https://cdn.jsdelivr.net/gh/bexter89/Moth-Mysticals@main/assets/fonts/serebryakov_-_displace-webfont.woff') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/bexter89/Moth-Mysticals@main/assets/fonts/serebryakov_-_displace-webfont.woff2') format('woff');
}

@font-face {
  font-family: 'PaloSanto';
  src: local("PaloSanto"), local("Palo Santo"),
      url('https://cdn.jsdelivr.net/gh/bexter89/Moth-Mysticals@main/assets/fonts/PaloSanto.otf') format("opentype"),
      url('https://cdn.jsdelivr.net/gh/bexter89/Moth-Mysticals@main/assets/fonts/PaloSanto.ttf') format('truetype'),
      url('https://cdn.jsdelivr.net/gh/bexter89/Moth-Mysticals@main/assets/fonts/palosanto-webfont.woff') format('woff2'),
      url('https://github.com/bexter89/Moth-Mysticals/blob/main/assets/fonts/serebryakov_-_displace-webfont.woff2') format('woff');
}