@font-face {
  font-family: 'Displace';
  src: local("Displace"), local("Serebryakov-Displace"),
      url("https://raw.githubusercontent.com/bexter89/Moth-Mysticals/blob/main/assets/fonts/Displace.otf") format("opentype"),
      url('https://raw.githubusercontent.com/bexter89/Moth-Mysticals/blob/main/assets/fonts/Displace.ttf') format('truetype'),
      url('https://www.dropbox.com/s/l8f5zgp38emnum5/displace.woff2') format('woff2'),
      url('https://www.dropbox.com/s/8q6hq4z4t4xuyfc/displace.woff?dl=0') format('woff');
}

@font-face {
  font-family: 'PaloSanto';
  src: local("PaloSanto"), local("Palo Santo"),
      url('https://raw.githubusercontent.com/bexter89/Moth-Mysticals/blob/main/assets/fonts/PaloSanto.otf') format("opentype"),
      url('https://raw.githubusercontent.com/bexter89/Moth-Mysticals/blob/main/assets/fonts/PaloSanto.ttf') format('truetype'),
      url('https://www.dropbox.com/s/w6gitvpe6541tya/palosanto.woff2') format('woff2'),
      url('https://www.dropbox.com/s/8q6hq4z4t4xuyfc/displace.woff') format('woff');
}