html {
  background: #FEC3D0;
  height: 100%;
  position: relative;
  text-align: center;
}
body {
  margin-top: .5rem;
  background: #FEC3D0;
  font-family: Displace, 'Josefin Sans', sans-serif;
  margin-bottom: 2rem;
}

.Hero {
  padding: 0;
  margin: 0;
}

.About {
  background-color: #F0C33B;
  padding: 25vh 15%;
}

.Tarot {
  background-color: #DC5C62;
  padding: 25vh 15%;
}

.Booking {
  background-color: #90D0DA;
  padding: 25vh 15%;
}


a.anchor {
  display: block;
  position: relative;
  top: -50px;
}

.App {
  background: #FEC3D0;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: PaloSanto, 'Alike Angular', Times, serif;
  text-transform: uppercase;
  color: #CC5559;
  text-shadow: 1px 1px 0px rgba(204,85,89,0.2)
}

strong {
  color: #CC565A;
}

/**
*  Responsive Styles
*/
@media (min-width: 1800px) {
  .Hero {
    padding: 0 15%;
    padding-bottom: 3rem;
  }

  .About {
    background-color: #F0C33B;
    padding: 2.5% 25%;
  }

  .Tarot {
    background-color: #DC5C62;
    padding: 2.5% 20%;
  }

  .Booking {
    background-color: #90D0DA;
    padding: 2.5% 20%;
  }
}


@media (max-width: 575px) {

  body {
    margin: 0;
    padding: 0;
  }
  .Hero {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
  }

  .About {
    background-color: #F0C33B;
    padding: 3% 8%;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
  }

  .Tarot {
    background-color: #DC5C62;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
  }

  .Booking {
    background-color: #90D0DA;
    padding: 3em 0;
  }
}


