html {
  background: #FEC3D0;
  height: 100%;
  position: relative;
  text-align: center;
}
body {
  margin-top: .75rem;
  background: #FEC3D0;
  font-family: Displace, 'Josefin Sans', sans-serif;
  margin-bottom: 2rem;
}

.Hero {
  padding: 0;
  margin: 0;
}

.About {
  background-color: #F0C33B;
  min-height: 50vh;
  padding: 10rem;
}

.Tarot {
  background-color: #DC5C62;
  padding: 3rem 15%;
}

.Booking {
  background-color: #90D0DA;
  padding: 3rem 15%;
}

a.anchor {
  padding-top: 50px;
  margin-top: -50px;
}

.App {
  background: #FEC3D0;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: PaloSanto, 'Alike Angular', Times, serif;
  text-transform: uppercase;
  color: #CC5559;
  text-shadow: 1px 1px 0px rgba(204,85,89,0.2)
}

strong {
  color: #CC565A;
}

/**
*  Responsive Styles
*/
@media (min-width: 576px) and (max-width: 900px) {
  .About {
    background-color: #F0C33B;
    padding: 3rem 2rem;
  }

  .Tarot {
    background-color: #DC5C62;
    padding: 2.5% 2em;
  }

  .Booking {
    background-color: #90D0DA;
    padding: 3rem 20%;
  }
}


@media (max-width: 575px) {
  body {
    margin: 0;
    padding: 0;
  }
  .About {
    background-color: #F0C33B;
    padding: 12.5vh 1em;
  }

  .Tarot {
    background-color: #DC5C62;
    padding: 12.5vh 0;
  }
  .Booking {
    background-color: #90D0DA;
    padding: 12.5vh 1em;
  }
}


