.Hero {
  height: 100%;
}

.hero-image {
  background-color: #FEC3D0;
	background-image: url("https://i.ibb.co/LRB1VSK/Artist-Favorites110-websize.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 5em;
  color: #CC555B;
  background-color: #F2BFC8;
  padding: 0 .5em;
  text-shadow: 1px 1px 0px rgba(204,85,89,0.5);
}

#hero-Text {
  background-color: #F2BFC8;
  font-family: Displace, 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  text-shadow: 1px 1px 0px rgba(204,85,89,0.2);
  color: #11454F;
  font-size: 3em;
  padding: 0 .25em;
  padding-top: .125em;
  line-height: 1.25;
}

@media (min-width: 479px) and (max-width: 991px) {
  .hero-image {
    height: 90vh;
    background-position: 70% 50%;
    padding: 0;
  }
  .Overlay h1 {
    font-size: 4em;
    background-color: none;
    padding: 0 .25em;
    text-shadow: 1px 1px 0px rgba(204,85,89,0.5);
  }
  #hero-Text {
    font-size: 3em;
    padding: 0 .2em;
    padding-top: .13em;
    line-height: 1.25;
  }
}

@media (max-width: 479px) {
  .hero-image {
    height: 50vh;
    background-position: 70% 50%;
    padding: 0;
  }
  .Overlay h1 {
    font-size: 2em;
    background-color: none;
    padding: 0 .5em;
    text-shadow: 1px 1px 0px rgba(204,85,89,0.5);
  }
  #hero-Text {
    font-size: 1.25em;
    padding: 0 .2em;
    padding-top: .125em;
    line-height: 1.25;
  }
}