.heroImage {
  height: 60vh;
  width: 100vw;
	position: relative;
  background-size: cover;
	background-position: 50% 50%;
	background-image: url("https://i.ibb.co/LRB1VSK/Artist-Favorites110-websize.png");
  background-attachment: scroll;
}

.Overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.35);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-attachment: scroll;
}

.Overlay h1 {
  font-size: 5em;
  color: #CC555B;
  background-color: #F2BFC8;
  padding: 0 .5em;
  text-shadow: 1px 1px 0px rgba(204,85,89,0.5);
}

#hero-Text {
  background-color: #F2BFC8;
  text-shadow: 1px 1px 0px rgba(204,85,89,0.2);
  color: #11454F;
  font-size: 3em;
  padding: 0 .25em;
  padding-top: .125em;
  line-height: 1.25;
}

@media (max-width: 479px) {
  .heroImage {
    height: 50vh;
    width: 80vw;
    background-position: 70% 50%;
    padding: 0;
  }
  .Overlay h1 {
    font-size: 2em;
    background-color: none;
    padding: 0 .5em;
    text-shadow: 1px 1px 0px rgba(204,85,89,0.5);
  }
  #hero-Text {
    font-size: 1.25em;
    padding: 0 .2em;
    padding-top: .125em;
    line-height: 1.25;
  }
}